

/*######   GENERAL   ######*/

body {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.content {
	padding: 30px 150px 150px 150px; 
}

#home {
	display: inline;
	float: left;
	margin: 0 0 0 150px;
}

.menu ul {
	display: inline
}

.menu ul li {
	display: inline;
	margin: 0 60px 0 60px;
}

.menu {
	text-align: center;
	padding: 20px 0 20px 0;
	border-bottom: 1px solid lightGrey;
	background-color: #2f4f4f;
	color: white;
}

.menu a {
	color: inherit;
	text-decoration: inherit;

}

#submit {
	text-align: center;
	margin: 60px;
}

.page_title {
	color: #86c386;
}




/*######   INDEX   ######*/

#menu_index {
	border-bottom: none;
	padding: 40px 0 40px 0;
	background-color: white;
	color: black;
}

#index {
	text-align: center;
	padding: 50px;
}




/*######   RECHERCHE   search.php ######*/

#content_search {
	margin: 50px;
}

#home_search {
	display: inline;
	float: left;
	margin: 0 0 0 53px;
}

#col_toggle {
	background-color: #99f69966;
	padding: 20px;
	margin: 20px;
}
#col_toggle input {
	margin-left: 30px;
}




/*######   INSERT   form_insert.php ######*/

.suggest {
	display: block;
	color: grey;
}

/*
.table_insert tr:hover {
	background-color: #f1f1f1;
}
*/


.table_insert td {
	padding: 30px 100px 30px 0;	
}


legend {
	font-weight: bold;
	display: inline;
}


.separation_form {
	margin: 50px 0 50px 0;
	color: #FAFAFA;
}


input[type=checkbox]
{
  transform: scale(1.2);
}



/*    UPDATE   record_update.php */

#content_update {
	margin: 40px 40px 100px 40px;
}

#home_update {
	display: inline;
	float: left;
	margin: 0 0 0 103px;
}

#oldrecord {
	padding: 20px 40px 20px 20px;
	vertical-align: text-top;
	background-color: #99f69966;
}

#newrecord {
	padding: 20px 20px 20px 40px;
}





/*    SINGLE RECORD   record_created.php and record.php */

#table_fiche td {
	border-bottom: 1px solid lightGrey;
}

#table_fiche tr:hover {
	background-color: #f1f1f1;
}

#table_fiche td {
	padding: 20px 100px 10px 0;	
}

#table_fiche td:first-child {
	font-weight: bold;
}

#imagerandom {
	display: block;
	margin: 0 0 200px 200px;
}







